
doctype html
html(lang="en")
  head
    title= pageTitle
  body
    aside
      a(href="/!/admin/")
        h1 aiport
      ul
        for annex in annexes
          // TODO links
          a(href="/!/admin/"+annex)
            li= annex
        else
          li no annexes found
    if body
      main !{body}
    else
      main
        p body not found
